.page_title {
  background-color: #1a1a1a;
}
.skill {
  background-color: #1a1a1a;
}
.content_sub {
  color: #1a1a1a;
}
.content_sub:before {
  border-bottom: solid 15px #1a1a1a;
}
.content_sub:after {
  border-bottom: solid 3px #1a1a1a;
}