.page_title {
  background-color: #31200b;
}
.skill {
  background-color:  #31200b;
}
.content_sub {
  color:  #31200b;
}
.content_sub:before {
  border-bottom: solid 15px #31200b;
}
.content_sub:after {
  border-bottom: solid 3px  #31200b;
}