/*==================================================スライダーのためのcss===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
    width:92%;
    margin:0 auto;
}

.slider img {
    width:60vw;/*スライダー内の画像を60vwにしてレスポンシブ化*/
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.7);/*左右の画像のサイズを80%に*/
  transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
  transform: scale(1.2);/*中央の画像のサイズだけ等倍に*/
  opacity: 1;/*透過なし*/
}



/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;

    transform: rotate(45deg);
}

/*ドットナビゲーションの設定----------------------------------------*/
.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 0.8px;/*ドットボタンのサイズ*/
    height: 2px;/*ドットボタンのサイズ*/
    display:block;
    border-radius: 100%;
    border-color: rgba(255, 255, 255, 0);
    background:rgb(230, 230, 230);/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#e9959b;/*ドットボタンの現在地表示の色*/
}

/*カラーバリエーション=====================================================================================*/


.page_title{
  font-size: 190%;
  background-color: #007552;
  margin: 0;
  padding: 3.5%;
  padding-bottom: 4.3%;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  font-family: "MS Pゴシック","Yu Gothic Medium";
}


.page_title_01{
  background-color: #534741;
}

.page_title_02{
  background-color: #312520;
}

.page_title_03{
  background-color: #3f3f3f;
}

.page_title_04{
  background-color: #e6e6e6;
}


/*=====================================================================================*/



.page_sub{
  font-size: 35%;
  color: rgb(255, 255, 255);
  padding: 0;
}


p{
  font-family: "MS Pゴシック","Yu Gothic Medium";
}

/*=====================================================================================*/



.content_sub{
  position: relative;
  margin-right: 15%;
  margin-left: 15%;
  font-size: 120%;
  font-family: "MS Pゴシック","Yu Gothic Medium";
  margin-bottom: 3%; 
  margin-top: 5%;
  color: #007552;
  font-weight: bold;
}
.content_sub_01{
  color: #534741;
}

.content_sub:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px #007552;

}
.content_sub:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px #007552;
}
.content_sub_01:before {
  border-bottom: solid 15px #534741;

}
.content_sub_01:after {
  border-bottom: solid 3px #534741;
}



.skill{
  background-color:#007552;
  color:#ffffff;
  border-radius: 20px;
  padding: 0.4%;
  width: 25%;
  font-size: 65%;
  margin-left: 7px;
  margin-right:7px;
  text-align: center;
}
.skill_01{
  background-color:#534741;
}



/*=====================================================================================*/


img.full_img{
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
  width: 65%;
}

.skill_wrap{
  display:flex;
  flex-wrap: wrap; 
  text-align: center;
  max-width: 80%;
  margin: 0 10%;
  justify-content: center;
}


body{
  text-align: center;
}

.content_t{
  font-size: 70%;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.content_t2{
  font-size: 90%;
  border-bottom:solid 1px #e9959b;
  display:inline-block
}




ol.sample1{
  counter-reset:list;
  list-style-type:none;
  padding: 0;
  margin-left: 25%;
  margin-right: 25%;
}
ol.sample1 li{
  color: #313131;
  position:relative;
  line-height: 30px;
  margin: 7px 0 10px 0px;
  font-size: 95%;
  border-bottom:solid 1px #e9959b;
}
ol.sample1 li b{
  font-size: 120%;
  color: #3f3f3f;
}

ol.sample1 li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: -10px;
  width: 30px;
  height: 32px;
  top: 50%;
  background: #e9959b;
  text-align: center;
  color: #fff;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.link{
  margin-top: 20px;
  flex-wrap: wrap; 
  margin-left: 12%;
  margin-right: 12%;
  font-family: "MS Pゴシック","Yu Gothic Medium";
  }
  
  .link ul{
    margin: 0 ;
    padding: 0;
    }

  .link li{
    list-style: none;
    display: inline-block;
    min-width: 150px;
    margin-top: 10px;
    font-size: 80%;
    }
    .link a{
    text-decoration: none;
    color: #333;
    }
    .link a.current{
    color: #313131;
    border-bottom:1px solid #313131;
    }
    .link a:hover{
    color:#e9959b;
    border-bottom:2px solid #e9959b;
    }


  a.btn-flat#app_btn{
    padding: 0.8rem 1rem;
    width: 140px;
    height: 45px;
  }



@media screen and (max-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  ol.sample1 li {

    font-size: 70%;
}
}


  
@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  .skill{
    padding: 0.%;
    width: 20%;
    font-size: 85%;
    margin-left: 8px;
    margin-right: 8px;
  }

  .content_t{
    font-size: 85%;
  }
  
  .content_t2{
    font-size: 100%;
  }
  
}

@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  .skill{
    border-radius: 20px;
    padding: 0.3%;
    width: 12%;
    font-size: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .skill_wrap{
    margin: 0% 10%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    min-width: 80%;
    /* max-width: 50%; */
  }
  .content_t{
    font-size: 95%;
    margin: 0.5%;
  }
  .content_sub{
    font-size: 150%;
    margin-bottom: 1.5%; 
    margin-top: 3%;
  }
 
 
  .link{
    margin-top: 50px;
    margin-left: 9%;
    margin-right: 9%;
    text-align: center;
    }
  .link li{
      font-size: 100%;
      min-width: 80px;
      margin-top: 10px;
      width: 16%;
      }
      
  .link ul{
    margin: 0 ;
    padding: 0 ;
    }
    .link li{
    list-style: none;
    display: inline-block;
    width: 25%;
    min-width: 120px;
    margin-top: 10px;
    font-size: 100%;
    }
    .link li:not(:last-child){
    border-right:2px solid #ddd;
    }
    .link a{
    text-decoration: none;
    color: #333;
    }
    .link a.current{
    color: #313131;
    border-bottom:1px solid #313131;
    }
    .link a:hover{
    color:#e9959b;
    border-bottom:2px solid #e9959b;
    }
    .content_t{
      font-size: 100%;
    }
    
    .content_t2{
      font-size: 120%;
    }
    .page_title{
      font-size: 230%;
    }
    
    .page_sub{
      font-size: 40%;
    }
    .slick-dots button {
      width:1px;/*ドットボタンのサイズ*/
      height:15px;/*ドットボタンのサイズ*/
  
  }
  
}


  