.page_title {
  background-color: #534741;
}
.skill {
  background-color: #534741;
}
.content_sub {
  color: #534741;
}
.content_sub:before {
  border-bottom: solid 15px #534741;
}
.content_sub:after {
  border-bottom: solid 3px #534741;
}