@font-face {
  font-family: 'Thin';/* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url('./fonts/FontsFree-Net-MrEavesXLModOT-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Reg';/* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url('./fonts/FontsFree-Net-MrEavesXLModOT-Reg.ttf') format('truetype');
}

html{
  text-align: center;
  font-family:  'Reg';
  color: #3b3b3b;
}

body {
  margin: 0;
  max-width: 1280px;
}


/*----------------------------------------------------------------------------*/
h1.name{
  font-size:220%;
  margin-top: 0;
  padding-top: calc(100vh/2.5);
  font-family:  'Reg';
  font-weight: 1000;
  letter-spacing: 4px;
  padding-right: 1%;
}

h1.title2::before {
  transform: rotateZ( 180deg );
  writing-mode: vertical-lr;
  position: absolute;
  content: 'Design';
  color: #e9959be6;
  font-family:  'Thin';
  font-weight: 1;
  bottom: 10px;
  left: 10px;
  font-size: 200%;
}
h1.title1::before {
  writing-mode: vertical-lr;
  position: absolute;
  font-size: 200%;
  content: 'Program';
  color: #ffffffe6;
  font-family:  'Thin';
  font-weight: 1;
  top: 10px;
  right: 10px;
}
.mayura{
  color: #e9959b;
}
.shingo{
  color: #ffffff;
}
img{
  max-width: 100%;
}
.grid-img {
  position: relative;
  overflow: hidden;
}
.grid-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.work_title{
  font-size: 200%;
  margin-top: 0;
  margin-bottom: 3.5%;
  font-weight: 200;
  color: rgb(44, 44, 44);
}

.work_name{
  margin-bottom: 0;
  color: rgb(44, 44, 44);
  font-size: 120%;
}

.jn{
  font-size: 80%;
}

.work_exp{
  font-size: 80%;
  padding-top: 0;
}

.text_height{
  margin-top: 1%;
  margin-right: 6%;
  margin-left: 6%;
  margin-bottom: 1%;
}


h2 {
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

h2:before, h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: #e9959b;
}

h2:before {
  left:0;
}
h2:after {
  right: 0;
}

h2{
  font-size:300%;
  font-weight: 150;
  color:#e9959b;
}

.top{
  height: 100vh;
  width: auto;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #e9959b 50%, #e9959b  100%);
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 250px 180px 250px 180px 250px 180px 250px 180px 250px 180px;
}


.work_exp{
  font-family: "MS Pゴシック","Yu Gothic Medium";
}

/*写真ホバー----------------------------------------------------------------------------*/
.hover-mask {
  align-items: center; /* テキストの中央揃え */
  background: rgba(0, 0, 0, 0.5); /* マスクの色(黒の50%) */
  bottom: 0;
  color: #fff; /* テキストの色 */
  display: flex; /* テキストの中央揃え */
  height: auto;
  justify-content: center; /* テキストの中央揃え */
  left: 0;
  opacity: 0; /* 最初は透明(非表示) */
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .6s ease; /* ゆっくりopacityのみへ変化させる */
  width: 100%;
}
.hover-mask:hover {
  opacity: 1; /* hoverしたら透過しない(表示させる) */
}
.hover-mask p {
  width: 80%; /* テキストを横幅いっぱいにならないようにする */
}
.h_text{
  font-size: 200%;
}

/* ボタンデザイン-------------------------------------------------- */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-size: 85%;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
}

a.btn-flat {
  overflow: hidden;
  padding: 1.2rem 2rem;
  width: 200px;
  height: 56px;
  color: #fff;
  border-radius: 0;
  background: rgb(113, 113, 113);
}

a.btn-flat span {
  position: relative;
  font-weight: 100;
}

a.btn-flat:before {
  position: absolute;
  top: 1.5;
  left: 0;
  width: 150%;
  height: 500%;
  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #e9959b;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.mar{
  margin-bottom: 15px;
}

/*スクロール----------------------------------------------------------------------------*/
.scrolldown4{
position:absolute;
bottom:4%;
right:50%;
  /*矢印の動き1秒かけて永遠にループ*/
animation: arrowmove 3s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:4%;}
   100%{bottom:1%;}
}

/*Scrollテキストの描写*/
.scrolldown4 span{
  /*描画位置*/
position: absolute;
left:-22px;
bottom:15px;
  /*テキストの形状*/
color: rgb(99, 99, 99);
font-size: 110%;
letter-spacing: 0.05em;
/*縦書き設定*/
-ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 2px;
  height: 22px;
  background: rgb(99, 99, 99);
  transform: skewX(-31deg);
}

.scrolldown4:after{
content:"";
  /*描画位置*/
position: absolute;
bottom:0;
right:0;
  /*矢印の形状*/
width:1.5px;
height: 62px;
background:rgb(99, 99, 99);
}

/*----------------------------------------------------------------------------*/
/*ハンバーガーボタン*/
.menu{
  height: 20px;
  position: fixed;
  left: 20px;
  top: 20px;
  width: 30px;
  z-index: 99;
}
.menu__line{
  background: rgb(142, 142, 142);
  display: block;
  height: 2px;
  position: absolute;
  transition:transform .3s;
  width: 100%;
}
.menu__line--center{
  top: 9px;
}
.menu__line--bottom{
  bottom: 0;
}

.menu__line--top.active{
  top: 8px;
  transform: rotate(45deg);
}
.menu__line--center.active{
  transform:scaleX(0);
}
.menu__line--bottom.active{
  bottom: 10px;
  transform: rotate(135deg);
}
.gnav{
  background: rgba(0,0,0,0.8);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}
.gnav__wrap{
  align-items:center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.gnav__menu__item{
  margin: 40px 0;
}
.gnav__menu__item a{
  color: #fff;
  font-size: 2em;
  padding: 40px;
  text-decoration: none;
  transition: .5s;
}
.gnav__menu__item a:hover{
  color: #666;
}
.works_link{
  font-size: 60%;
  font-weight: normal;
  margin-top: 8%;
  margin-bottom: 8%;
}
.works_link a{
padding-top: 3px;
padding-bottom: 3px;
}

.top_links{
  font-size: 100%;
  font-weight: 250;
}

ul{
  padding-left:0;
  padding-right:0;
}

li{
  list-style:none;
}

footer{
  background-color: #e9959b;
  color: #fff;
  margin:0;
  margin-top: 5%;
  padding: 1%;
}


/*タイムライン全体の設定--------------------------*/
.timeline{
      /* width: 500px; */
      padding: 0 20%;
}

.timeline li{
  /*線の起点とするためrelativeを設定*/
  position: relative;
	list-style: none;
	padding:0 0 20px 0;
}
.timeline dt{
	margin-left: 0;
  text-align: left;
}
.timeline dd{
	margin-left: 0;
  margin-top: 10px;
  text-align: left;
}

.timeline dl{
	margin:0 0 30px 50px;
  text-align: left;
}

/*絶対配置で線を設定*/
.border-line {
    /*線の位置*/
	position: absolute;
	left:0.25em;
	top:0;
	width:2px;/*線の太さ*/
	height:0;/*はじめは高さを0に*/
	background: #ccc;
}

/*タイムラインの見出し横の丸の位置と形状*/
.timeline li::after{
	content:'';
	position: absolute;
	top:0;
	left:0;
	width:10px;
	height: 10px;
	background:#666;
	border-radius: 50%;
}

.yoko{
  display:flex;
  width: 100vw;
  height: auto;
  display: block;
  text-align: center;
  font-family: "MS Pゴシック","Yu Gothic Medium";
}
.yoko1{
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
}

.my_skill {
  margin-left: 10px;
  color: #494949;/*文字色*/
  display: flex;
  background-color: rgba(204, 204, 204, 0.201);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 200px;
}

.skill_name {
  border-right: 1px solid #333;
  margin-right: 0px;
  padding-right: 0px;
  width: 90px;
  margin-left: 5px;
  font-size: 15px;
}
.skill_star {
  margin-left: 15px;
  font-size: 15px;
}
#flex_skill{
  display: flex;
  justify-content: center;
}
#program{
  width: 230px;
}
#design{
  width: 230px;
}

#my_name {
  font-size: 120%;
  position: relative;
  padding: 0.5em;
  padding-right: 0;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 3px;
  background: #e9959b;
  /* width: 290px; */
  color: white;
}

#my_name::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}


#my_design{
  color: #e9959b;
  font-size: 120%;
  position: relative;
  text-align: center;
  line-height: 1.3;
  font-weight: 500;
}
 
#my_design:before,
#my_design:after {
  position: relative;
  display: inline-block;
  content: "";
  background: #e9959b;
  width: 2px;
  height: 20px;
  margin: 0 0.5em;
  margin-top: -.2em;
  vertical-align: middle;
}
 
#my_design:before {
  transform: rotate(-35deg);
}
 
#my_design:after {
  transform: rotate(35deg);
}
@media screen and (max-width: 481px) {
	/*スマホ */
  #flex_skill {
    display: inline-block;
}
.my_title{
  margin-bottom: 0;
}
.timeline {
  /* width: 500px; */
  padding: 0 14%;
  margin-top: 80px;
}
#my_name {
  font-size: 110%;
  padding: 0.5em;
  margin-right: 15%;
  margin-left: 15%;

  margin-bottom: 30px;
}
}



@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  h1.name{
    font-size: 400%;
  }
  .works_link{
    font-size: 90%;
  }
  .top_links{
    font-size: 140%;
  }
  .timeline {

    margin-top: 60px;
}
}

@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 280px 280px 280px 280px 280px 280px 280px 280px 280px 280px;
  }
 
  h1{
    margin-top: 0;
    font-size: 650%;
    padding-top: calc(100vh/2.5);
    font-family:  'Reg';
    font-weight: 1000;
    letter-spacing: 4px;
    padding-right: 1%;
  }

  h1.title1::before {
    font-size: 110%;
  }
  h1.title2::before {
    font-size: 110%;
  }
  h1.name{
    font-size:660%;
  }
  h2{
    font-size:350%;
  }
  .text_height{
    margin: 6%;
  }
  .work_title{
    margin-bottom: 6%;
  }
  .wrap_button{
    display:flex;
  }

  .mar{
    margin: auto;
  }

  .works_link{
    font-size: 80%;

  }
  .top_links{
    font-size: 140%;

  }
  .yoko{
    display:flex;
    margin: 0 10%;
  }
  .yoko1{
    margin-right: 0px;
    margin-left: 0px;
    width: 480px;
    text-align: left;
  
  }

  .yoko2{
    margin-top: 0;
    width: 700px;
    margin-left: 20px;
  }
  #my_name {
    font-size: 170%;
    position: relative;
    padding: 0.5em;
    /* margin-top: 5px; */
    background: #e9959b;
    color: white;
    margin: 0 0;
    margin-bottom: 30px;
  }
  
  #my_name::before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 15px transparent;
    border-right: solid 20px rgb(149, 158, 155);
  }

  .my_prof{
    margin-top: 2px;
    margin-bottom: 0px;
  }
  #my_design{
    color: #e9959b;
    font-size: 140%;
    position: relative;
    text-align: center;
    line-height: 1.3;
    font-weight: 500;
  }
   
  #my_design:before,
  #my_design:after {
    position: relative;
    display: inline-block;
    content: "";
    background: #e9959b;
    width: 2px;
    height: 20px;
    margin: 0 1em;
    margin-top: -.2em;
    vertical-align: middle;
  }
   
  #my_design:before {
    transform: rotate(-35deg);
  }
   
  #my_design:after {
    transform: rotate(35deg);
  }
  .my_title {
    border-bottom: solid 2px #797979;/*左線（実線 太さ 色）*/
    font-size: 120%;
  }
  
  .my_skill {
    margin-left: 10px;
    color: #494949;/*文字色*/
    display: flex;
    background-color: rgba(204, 204, 204, 0.201);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  
  .skill_name {
    border-right: 1px solid #333;
    margin-right: 0px;
    padding-right: 0px;
    width: 90px;
  }
  .skill_star {
    margin-left: 15px;
  }
  #program{
    width: 230px;
  }
  #design{
    width: 230px;
  }
  #flex_skill{
    display: flex;
  }
  
  
  
.content_1{
  grid-area:1 / 1 / 2 / 3;
}

.title_1{
  grid-area:1 / 3 / 2 / 4;
}

.title_2{
  grid-area:2 / 1 / 3 / 2;
}

.content_2{
  grid-area:2 / 2 / 3 / 4;
}

.content_3{
  grid-area:3 / 1 / 4 / 3;
}

.title_3{
  grid-area:3 / 3 / 4 / 4;
}

.title_4{
  grid-area:4 / 1 / 5 / 2;
}

.content_4{
  grid-area:4 / 2 / 5 / 4;
}

.content_5{
  grid-area:5 / 1 / 6 / 3;
}

.title_5{
  grid-area:5 / 3 / 6 / 4;
}
}


  