.page_title {
  background-color: #033b6c;
}
.skill {
  background-color:#033b6c;
}
.content_sub {
  color: #033b6c;
}
.content_sub:before {
  border-bottom: solid 15px #033b6c;
}
.content_sub:after {
  border-bottom: solid 3px #033b6c;
}

#swatch_img{
  width: 35%;
}